


/ twitter stuff
#share-buttons
  %a{:href => "http://twitter.com/share", :class="twitter-share-button", :"data-url" => "http://foodandflicks.ca/", :"data-text" => "Join me for food & flicks! #foodandflicks", :"data-count"=>"none", :"data-via"=>"foodandflicksca"}<
    Pull my friends!
  %script{ :type =>"text/javascript", :src => "http://platform.twitter.com/widgets.js"}