/* -webkit-font-smoothing: antialiased; */
/* text-rendering: optimizeLegibility; */

/* 6 (0.375), 7 (0.4375), 8 (0.5), 9 (0.5625), 10 (0.625), 11 (0.6875), 12 (0.75), 14 (0.875),
   16 (1), 18 (1.125), 21 (1.3125), 24 (1.5), 36 (2.25), 48 (3), 60 (3.75), 72 (4.5)  px (em) */

html {
	background-color: #ECECEC;
}

body {
	font-size: 100%; /* 16px */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 24px;
	text-align: left;
	padding: 48px;
	color: #2D2D2D;
/*	background: #eee url("http://www.apple.com/home/elements/gradient_texture20101116.jpg") repeat-x;*/
}

html>body {
	font-size: 16px;
}

h1 { font-weight: bold; }

h1, h2, h3 { margin: 0; line-height: 1.5; }

a {
	text-decoration: none;
	color: #c00;
}

h1 { font-size: 24px; }
h2 { font-size: 21px; }
h3 { font-size: 18px; }

h1 {
	font-size: 48px;
	font-weight: bold;
	width: 400px;
	height: 69px;
	text-indent: -999px;
	overflow: hidden;
	background: url("../img/logo.png") no-repeat;
}

h2, h3 { font-weight: bold; }

/* BASE */

li { position: relative; }

p.first {
	padding-top: 23px;
	border-top: 2px solid #000;
}

/* LINKS */

a {
	color: #4272DB;
	text-decoration: none;
}

.flicks,
.food,
.poll {
	clear: left;
	padding-top: 1.5em;
}

.flicks ul,
.food ul {
	clear: left;
	padding-top: 1.5em;
}

.flicks ul li,
.poster {
	float: left;
	-moz-box-shadow:0 0 10px #CCCCCC;
	background-color:white;
	border:1px solid #CCCCCC;
	padding:11px;
	display:block;
	float:left;
	margin:0px 13px 13px 0;
}

.food ul li {
  cursor: pointer;
}
.flicks ul li a {
	display: block;
	height: 140px;
}

.flicks ul li.moreflicks, .flicks ul li.moreflicks:hover {
  background: none transparent;
  border: none 0;
  -moz-box-shadow: none;
}

.flicks ul li a img {
	height: 140px;
	width: 95px;
}

.quiet {
	color: #999;
}

.flick-detail {
	-moz-box-shadow:0 0 15px #999 !important;
	background:url("http://readon.ly/img/highlight-gradient.png") repeat-x scroll 0 0 #FFFF00;
	font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size:13px;
	line-height:24px;
	padding:1.5em;
	width: 500px;
	position: fixed;
	z-index: 255;
}

.flick-detail img {
	float: left;
	margin-right: 1.5em;
}

.flick-detail .daytime {
  text-align: center;
  margin-top: 10px;
}

/* todo change to ul.flicks li */

.flicks ul li a:focus { outline: 0 none;}

.flicks ul li:hover {
	-moz-box-shadow: 0 0 10px #555;
	-webkit-box-shadow: 0 0 10px #555;
	box-shadow: 0 0 10px #555;
}

.flicks ul li.selected {
	-moz-box-shadow: inset 0 0 0px 5px #FFC600;
	-webkit-box-shadow: inset 0 0 0px 5px #FFC600;
	box-shadow: inset 0 0 0px 5px #FFC600;
}

ol.movie-day {
  list-style-type: none;
  margin: 0 auto;
}
  
ol.movie-day li {
  margin: 0;
  padding: 5px;
  margin: 10px 1px 0px 0px;
  display: inline-block;
  text-align: center;
  width: 27px;
  background-color: #EBE95B;
  cursor: pointer;
}

ol.movie-day li.selected {
  background-color: #aaa;
}


.flicks ul li:hover img {

}

#chooser #flicks{
  width: 90%;
}

#chooser #flicks li{
  display: inline-block;
  width: 95px;
  border: solid 5px #CCC;
  margin: 5px;
}

.highlight{
  border-color: #FC0 !important;
}

div.selector span { width: 100px; }

.result { margin-top: 1.5em; }

li.restaurant:hover {
  color: red;
}

#createbutton {
  display: none;
}

li.restaurant.selected {
  background: #fff2a8;
}

.flick-detail a.close {
	background:url(/img/x.png) no-repeat;	
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:4px;
	right:4px;
	cursor:pointer;
	outline: none;
}
